<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Événements</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            padding: 50px;
        }
        .container {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Liste des Événements</h1>
        <div>
            <ul>
                {% for event in events %}
                    <li><a href="{{ url_for('event_details', event_id=event.id) }}">{{ event.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
