<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
</head>
<body>
    <h1>Bienvenue sur notre site!</h1>

    <p>Vous pouvez vous connecter ou vous inscrire pour accéder à plus de fonctionnalités.</p>

    <!-- Liens vers les pages de connexion et d'inscription -->
    <p><a href="{{ url_for('login') }}">Se connecter</a> | <a href="{{ url_for('register') }}">S'inscrire</a></p>

</body>
</html>
